@font-face{
	font-family: 'Montserrat-Bold';
	src: url(../fonts/Montserrat-Bold.otf);
}
@font-face{
	font-family: 'Montserrat-Regular';
	src: url(../fonts/Montserrat-Regular.otf);
}
@font-face{
	font-family: 'RobotoSlab-Regular';
	src: url(../fonts/RobotoSlab-Regular.ttf);
}