@font-face{
	font-family: 'wolfintheBold';
	src: url(../fonts/wolfintheBold.otf);
}
@font-face{
	font-family: 'Lato-Medium';
	src: url(../fonts/Lato-Medium.ttf);
}
@font-face{
	font-family: 'Lato-Bold';
	src: url(../fonts/Lato-Bold.ttf);
}