@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans.ttf);
}
@font-face{
	font-family: 'Optimalt_extrablack';
	src: url(../fonts/optimalt_extrablack.ttf);
}
@font-face{
	font-family: 'opensans_bold';
	src: url(../fonts/opensans_bold.ttf);
}
@font-face{
	font-family: 'OpenSans_light';
	src: url(../fonts/OpenSans_light.ttf);
}