@import 'fonts.css';
.navbar-toggler{
	border-color: rgb(255, 255, 255)!important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
#header{
	background: url(../img/header.png) no-repeat;
	background-size: cover;
	height: 500px;
}
.logo-block{
	width: 38%;
	text-align: center;
}
.logo{
	display: block;
	background: url(../img/logo.png) no-repeat;
	width: 104px;
	height: 38px;
}
.nav-item a{
	font-family: 'OpenSans_light';
	font-size: 16px;
	text-transform: uppercase;
	color: #fff!important;
}
.nav-item a:hover{font-weight: bold;}
/*JOIN*/
#join{padding-top: 110px;}
.join-title, .join-desc{
	font-family: 'OpenSans_light';
	font-size: 40px;
	color: #fff;
}
.join-desc{font-size: 16px;}
/*DESC*/
#desc{padding: 80px 0px 80px 0px;}
.color-line{
	display: block;
	background: url(../img/color-line.png) no-repeat;
	width: 178px;
	height: 32px;
}
/*BLOCKS*/
.block1, .block2, .block3{color: #fff;}
.block1{background: #404040;padding: 30px 50px 30px 110px;}
.block2{background: #f74c55;padding: 30px 65px 30px 65px;}
.block3{background: #2d5f3b;padding: 30px 110px 30px 43px;}
.desc-title, .desc-desc, .block-title, .block-desc{
	font-family: 'OpenSans';
	font-size: 22px;
	color: #fff;
}
.desc-title{
	color: #2b2b2b;
	font-size: 30px;
}
.desc-desc{color: #838383;}
.block-desc, .desc-desc{font-size: 14px;}
.staticks:before, .ipad:before, .upload:before{display:inline-block;content:'';margin-right: 10px;vertical-align: bottom;}
.staticks:before{
	background: url(../img/staticks.png) no-repeat;
	width: 28px;
	height: 34px;
}
.ipad:before{
	background: url(../img/ipad.png) no-repeat;
	width: 36px;
	height: 36px;
}
.upload:before{
	background: url(../img/upload.png) no-repeat;
	width: 39px;
	height: 27px;
	vertical-align: text-top;
}
.btn-plus{
	font-family: 'Optimalt_extrablack';
	font-size: 25px;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0;
	color: #fff;
}
.btn-plus:hover{
	cursor: pointer;
	opacity: 0.8;
}
/*IMAGE*/
#image{
	display: block;
	background: url(../img/footer.png) no-repeat;
	background-size: cover;
	height: 500px;
	padding: 180px 0px 130px 0px;
}
.image-title{
	font-family: 'OpenSans';
	font-size: 42px;
	color: #fff;
}
.image-title span{font-family: 'opensans_bold';}
.btn-join, .btn-more{
	font-family: 'OpenSans';
	font-size: 24px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	width: 180px;
	padding: 5px;
}
.btn-join:hover, .btn-more:hover{
	cursor: pointer;
	opacity: 0.7;
}
.color-line-footer{
	display: block;
	background: url(../img/color-line-footer.png) no-repeat;
	background-size: cover;
	height: 9px;
}
/*FOOTER*/
#footer{padding-top: 25px;}
.footer-title{
	font-family: 'OpenSans';
	font-size: 16px;
	color: #757575;
}
@media(max-width: 992px){
	.logo-block{
		width: 28%;
	}
	.navbar-nav{
		text-align: center;
	}
}
@media(max-width: 767px){
	.logo-block{
		width: 29%;
	}
}