@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans.ttf);
}
@font-face{
	font-family: 'opensans_bold';
	src: url(../fonts/opensans_bold.ttf);
}
@font-face{
	font-family: 'OpenSans_semibold';
	src: url(../fonts/OpenSans_semibold.ttf);
}